#container {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.hidden {
    display: none;
}

.choices {
    margin-top: 10px;
}
