.container {
    display: flex;
    justify-content: center;
}

.container section {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.container .hidden {
    display: none;
}

.choices {
    margin-top: 10px;
}
