#container {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.hidden {
    display: none;
}

.choices {
    margin-top: 10px;
}

aside {
    display: flex;
    justify-content: center;
}

#timer {
    margin: 1em;
    border: 2px solid red;
    padding: 1em;
    border-radius: 1em;
}